## ***What is API***
API is the acronym for Application Programming Interface, which is a software intermediary that allows two applications to talk to each other. Each time you use an app like Facebook, send an instant message, or check the weather on your phone, you're using an API.

In [1]:
# Now i just import the top rated movies DATA from TMDB website through API

I just select from this website only these columns
* id
* title
* release_date
* overview
* popularity
* vote_average
* vote_count

In [2]:
# there are 9179 top rated movies
# so my data shape will be (9179,7)
# so i fetch the data by hitting the API 459 times because the total pages are in API is 459
# so my loop will run 459 times

In [3]:
# so here i need two libraries
import pandas as pd
import requests

In [4]:
requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=62a38daa177423f6c28124fce8efce47&language=en-US&page=1')

In [5]:
# so here response =200 means everything is ok  if it is = 404 it's means the permission is denied to fetching this
# website and = 500 means server is down

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=62a38daa177423f6c28124fce8efce47&language=en-US&page=1')

In [7]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','overview','vote_average','vote_count']]
# here i just need result list so i just call it in separate list and also convert it into DataFrame formate

In [8]:
temp_df.head()

,id,title,release_date,popularity,overview,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,26.358,"Raj is a rich, carefree, happy-go-lucky second...",8.7,3152
1,278,The Shawshank Redemption,1994-09-23,72.926,Framed in the 1940s for the double murder of h...,8.7,19798
2,238,The Godfather,1972-03-14,58.581,"Spanning the years 1945 to 1955, a chronicle o...",8.7,14849
3,724089,Gabriel's Inferno Part II,2020-07-31,8.628,Professor Gabriel Emerson finally learns the t...,8.7,1308
4,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,217.077,"In the aftermath of the Fourth Impact, strande...",8.7,324

In [9]:
# now i create a empty dataframe
df = pd.DataFrame()

In [10]:
# now i get the data of all pages by just changing the page number from URL as i 
for i in range(1,460):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=62a38daa177423f6c28124fce8efce47&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','overview','vote_average','vote_count']]
    df = df.append(temp_df, ignore_index=True)

In [13]:
df

,id,title,release_date,popularity,overview,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,1995-10-20,26.358,"Raj is a rich, carefree, happy-go-lucky second...",8.7,3152
1,278,The Shawshank Redemption,1994-09-23,72.926,Framed in the 1940s for the double murder of h...,8.7,19798
2,238,The Godfather,1972-03-14,58.581,"Spanning the years 1945 to 1955, a chronicle o...",8.7,14849
3,724089,Gabriel's Inferno Part II,2020-07-31,8.628,Professor Gabriel Emerson finally learns the t...,8.7,1308
4,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,217.077,"In the aftermath of the Fourth Impact, strande...",8.7,324
...,...,...,...,...,...,...,...
9174,13805,Disaster Movie,2008-08-29,16.574,"The filmmaking team behind the hits ""Scary Mov...",3.2,758
9175,5491,Battlefield Earth,2000-05-12,10.197,"In the year 3000, man is no match for the Psyc...",3.2,603
9176,11059,House of the Dead,2003-04-11,14.588,"Set on an island off the coast, a techno rave ...",3.1,275
9177,14164,Dragonball Evolution,2009-03-12,47.633,The young warrior Son Goku sets out on a quest...,2.8,1535
9178,40016,Birdemic: Shock and Terror,2010-02-27,6.333,A platoon of eagles and vultures attacks the r...,2.1,231

In [14]:
df.shape

(9179, 7)

In [12]:
df.to_csv('/home/saad/Downloads/movies.csv')